<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
	<div ng-if="unread>0" class="tochka_top"></div>
	</button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Общий чат</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ng-click="goToMessage()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="categories-list">
      <div ng-repeat="category in feeds_categories" class="category">
        <a class="feed-category" href="#/app/public-profile/{{category.id}}">
            <div class="row">
                <div class="col-40" style="padding: 0; overflow: hidden; width: 140px; height: 140px;">
                    <img class="category-image" ng-src={{category.avatar}} >
                </div>

                <div class="col-50" style="padding: 10px;">
                    <span class="category-title">{{category.name}}</span>
                    <p class="category-description">{{category.message}}</p>
                    <img class="right_hover" src="img/right_hover.png" alt="">
                </div>
            </div>
        </a>
		
      </div>
    </div>
  </ion-content>
</ion-view>
