<ion-view class="settings-view" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
	<div ng-if="unread>0" class="tochka_top"></div>
	</button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Профиль</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list profil">      	
	 <div class="item-header">
	             
	 <input id="fileInput" class="add_img_on" type="file" accept="image/*" ng-model="user.avatarinput" ng-style="user.avatarinput && {'height':'0'} || {}" base-sixty-four-input />	   
	  <ion-slide-box show-pager="true" delegate-handle="profile-slider" does-continue="true">	  	  	 
     
	  <ion-slide>	   
        <div class="list card" >
          <div class="item item-image">		     
            <img ng-src="img/users/user1.png"  ng-if="!user.avatarinput.base64" />
            <div class="cropArea" ng-style="!user.avatarinput.base64 && {'display':'none'} || {'display': 'block'}" ><img-crop area-type="square" image="image.originalImage" result-image="image.croppedImage" result-image-quality="100"></img-crop></div> 						 			
			<button ng-click="DoDeteleImg()">delete</button> 
          </div>          
        </div>				
      </ion-slide> 	  
	   <ion-slide ng-repeat="(key,img) in user.images" >	   
        <div class="list card" >
          <div class="item item-image">		
            <button ng-click="DoDeteleImg()">delete</button> 		  
            <img ng-src="{{img}}" />
          </div>          
        </div>				
      </ion-slide> 
     </ion-slide-box>  	
 	</div>				

      <label class="item item-input">
        <span class="input-label">Имя</span>
        <input type="text" ng-model="user.name">
      </label>	  
      <label class="item item-input item-select">
        <span class="input-label">Пол</span>
        <select ng-model="user.sex">
          <option selected>Мужской</option>
          <option>Женский</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Страна</span>
        <select ng-model="user.country">
    		<option ng-selected="{{operator.name == user.country}}"
	            ng-repeat="operator in countries"
	            value="{{operator.name}}">
	      		{{operator.name}}
    		</option>
		</select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Город</span>
        <select ng-model="user.city">
          	<option ng-selected="{{operator.name == user.city}}"
	            ng-repeat="operator in getCities()"
	            value="{{operator.name}}">
	      		{{operator.name}}
    		</option>
        </select>
      </label>
	  <label class="item item-input item-select">
        <span class="input-label">Возраст</span>
        <select ng-model="user.birthday">
          <option selected>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
		  <option>20</option>
		  <option>21</option>
		  <option>22</option>
		  <option>23</option>
		  <option>24</option>
		  <option>25</option>
		  <option>26</option>
		  <option>27</option>
		  <option>28</option>
		  <option>29</option>
		  <option>30</option>
		  <option>31</option>
		  <option>32</option>
		  <option>33</option>
		  <option>34</option>
		  <option>35</option>
		  <option>36</option>
		  <option>37</option>
		  <option>38</option>
		  <option>39</option>
		  <option>40</option>
		  <option>41</option>
		  <option>42</option>
		  <option>43</option>
		  <option>44</option>
		  <option>45</option>
		  <option>46</option>
		  <option>47</option>
		  <option>48</option>
		  <option>49</option>
		  <option>50</option>
		  <option>51</option>		  
		  <option>52</option>		  
		  <option>53</option>		  
		  <option>54</option>		  
		  <option>55</option>		  
		  <option>56</option>		  
		  <option>57</option>		  
		  <option>58</option>		  
		  <option>59</option>		  
		  <option>60</option>		  
		  <option>61</option>		  
		  <option>62</option>		  
		  <option>63</option>		  
		  <option>64</option>		  
		  <option>65</option>		  
		  <option>66</option>		  
		  <option>67</option>		  
		  <option>68</option>		  
		  <option>69</option>		  
		  <option>70</option>		  		  
        </select>
      </label>
	  	<label class="item item-input item-select">
        <span class="input-label">Цвет чата</span>
		<select ng-model="user.color" >
          <option value="rgb(252, 161, 161)" selected>красный</option>          
          <option value="rgb(215, 252, 161)">зеленый</option>
          <option value="rgb(161, 252, 162)">темно зеленый</option>
          <option value="rgb(252, 247, 161)">желтый</option>
          <option value="rgb(161, 252, 231)">берюзовый</option>
          <option value="rgb(161, 214, 252)">голубой</option>
          <option value="rgb(198, 161, 252)">фиолетовый</option>
          <option value="rgb(252, 161, 251)">розовый</option>
          <option value="rgb(255, 169, 169)">малиновый</option>
          <option value="rgb(253, 201, 104)">оранжевый</option>          
          <option value="rgb(68, 68, 68)">черный</option>
          <option value="#fff">белый</option>
          <option value="rgb(205, 205, 205);">серый</option>
       </select>        
      </label>	
	  <label class="item item-input">
        <span class="input-label">Новый пароль</span>
        <input class="input_data" type="text" ng-model="user.newpass">
      </label>	
	  <label class="item item-input">
        <span class="input-label">Повторите новый пароль</span>
        <input class="input_data" type="text" ng-model="user.repeatnewpass">
      </label>	

      <button class="button button-block button-stable button-my" ng-click="doSave()">
        СОХРАНИТЬ
      </button>

      <button class="button button-block button-stable button-my" ng-click="logout()">
        ВЫЙТИ ИЗ ПРОФИЛЯ
      </button>
    </ul>

  </ion-content>
</ion-view>
